Options -Indexes +FollowSymlinks
RewriteEngine on
DirectoryIndex index.php

#RewriteCond %{REMOTE_ADDR} !=127.0.0.1
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.realenergy.fr/$1 [R=301,L]
#
ErrorDocument 404 http://127.0.0.1/algobreizh/algobreizh/404


# Ajax

RewriteRule ^ajax/([a-zA-Z]{1,})$ ajax.php?ajax=$1 [QSA,L]
RewriteRule home$ index.php
RewriteRule 404$ 404.php
RewriteRule panier$ panier.php
RewriteRule contact$ contact.php
RewriteRule facture$ facture.php
RewriteRule detail-numero-(.*)$ detail.php?id=$1 [L]
RewriteRule commande$ commande.php
RewriteRule connexion$ connexion.php
RewriteRule produit$ produit.php
RewriteRule informations$ informations.php
