/********      Large format        ******/
@media screen and (max-width: 1200px ) {
    .no-padding-rigth{
        padding-right: 0px;
    }

    #produit{
        height: auto !important;
    }
}

/********      Moyen format        ******/
@media screen and (min-width: 992px ) and (max-width: 1200px) {
    .no-padding-rigth{
        padding-right: 0px;
    }
}

/********      Petit format       ******/
@media screen and (min-width: 786px ) and (max-width: 992px) {
    .no-padding-rigth{
        padding-right: 0px;
    }
}

/********      Très petit format       ******/
@media screen and (max-width: 768px ) {
    .no-padding-rigth{
        padding-right: 0px;
    }

    #facture h2 {
        font-size: 20px;
    }
    #commande h2{
        font-size: 20px;
    }
}

/*******          ALL          ********/
.content{
    padding: 25px 25px 5px 25px;
    margin: 5px;
    overflow: auto;
    -webkit-transition:  1s; /* Safari */
    transition:  1s;
    position: relative;
    z-index: 1;
}
.content:hover{
    cursor:pointer;
    transform: scale(1.05);
    -webkit-transition:  1s; /* Safari */
    transition:  1s;
    z-index: 5;
}

.content p, h2
{
    color: #fff;
    text-transform: uppercase;
}
/*******          Produits          ********/
#produit{
    background-color: rgba(0,105,92,0.8);
    height: 404px;
}

#produit:hover{
    background-color: rgba(0,105,92,1);
}

#produit img{
    width: 100%;
}

#produit h2{
    color: white;
}
/*******          Panier          ********/
#panier{
    background-color: rgba(40,53,147,0.8);
}

#panier:hover{
    background-color: rgba(40,53,147,1);
}

#panier h2 {
    color: #fff;
    margin-top: 15px;
    font-size: 13px;
}
/*******          Contact          ********/
#contact{
    background-color: rgba(106,27,154,0.8);
}

#contact:hover{
    background-color: rgba(106,27,154,1);
}

#contact h2 {
    color: #fff;
    margin-top: 15px;
    font-size: 13px;
}

/*******          Facture          ********/
#facture{
    background-color: rgba(255,143,0,0.8);
    padding-bottom: 24px;
}

#facture:hover{
    background-color: rgba(255,143,0,1);
}
/*******          Commande        ********/
#commande{
    background-color: rgba(198,40,40,0.8);
    padding-bottom: 24px;
}

#commande:hover{
    background-color: rgba(198,40,40,1);
}