body{
    font-family: 'Montserrat', sans-serif;
    background: url('../img/background.jpg') fixed center no-repeat;
    background-size: cover;
}
a:hover{
    color:#fff;
    text-decoration: none;
}
.navbar-default{
    border: none !important;
    background-color: transparent !important; 
}
/********      COLORS        ******/
.green{
    color: #004d40;
}

/*******          Layout          ********/
.header{
    margin-top: 20px;
    margin-bottom: 10px;
}
.customer{
    line-height: 69px;
    font-size: 18px;
    padding-right: 19px;
}
.logOut img {
    width: 35px;
}
.no-padding{
    padding: 0px;
}
