body{
    font-family: 'Montserrat', sans-serif;
}
.navbar-default{
    border: none !important;
    background-color: #fff !important; 
}
/********      COLORS        ******/
.green{
    color: #004d40;
}

/*******          Layout          ********/
.header{
    margin-top: 20px;
    margin-bottom: 10px;
}
.customer{
    line-height: 69px;
    font-size: 18px;
    padding-right: 19px;
}
.logOut img {
    width: 35px;
}
.no-padding{
    padding: 0px;
}