
{% extends "layout.twig" %}
{% block content %}
    <div class="container">
        <div class="col-lg-12">
            <div class="col-lg-8 no-padding">
                <a href="produit.php" class="fancybox-produit">
                    <div id="produit" class="content">
                        <img class='img-responsive' src="tools/thumbnailer.php?src=../assets/img/Produits/seaweed-products.jpg&w=300&h=135&method=scale-min" alt="produits">
                        <h2 class="text-center">PRODUITS</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 no-padding">
                <div  class="col-lg-12 no-padding" >
                    <a href="panier.php" class="fancybox-panier">
                        <div id="panier"class="content">
                            <img class="center-block img-responsive" src="assets/img/shopping232.png">
                            <h2>Panier <span class="pull-right"></span></h2>
                        </div>
                    </a>
                </div>
                <div class="col-lg-12 no-padding" >
                    <a href="contact.php" class="fancybox-contact">
                        <div id="contact"  class="content">
                            <img class="center-block" src="assets/img/phone21.png">
                            <h2>Contact</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-6  no-padding">
                <a href="facture.php" class="fancybox-facture">
                    <div id="facture" class="content">
                        <div class="col-lg-4">
                            <img class="" src="assets/img/facture.png">
                        </div>
                        <div class="col-lg-8">
                            <h2><strong>Factures</strong></h2>
                        </div>
                    </div>
                </a>
            </div> 
            <div class="col-lg-6 no-padding">
                    <a href="commande.php">
                <div id="commande" class="content fancybox">
                    <div class="col-lg-4">
                        <img class="" src="assets/img/commande.png">
                    </div>
                    <div class="col-lg-8">
                        <h2><strong>Commandes</strong></h2>
                        <p>En cours <span class="pull-right">{{ nbEncours }}</span></p>
                        <p>Validees <span class="pull-right">{{ nbCommandes }}</span></p>
                    </div>
                </div>
                </a>
            </div>  
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}