
{% extends "layout.twig" %}
{% block content %}
    <div class="container">
        <div class="col-lg-12">
            <div class="col-lg-8" >
                <div   id="produit" class="content"></div>
            </div>
            <div class="col-lg-4">
                <div  class="col-lg-12 no-padding" >
                    <div id="panier"class="content">
                        <img class="center-block" src="assets/img/shopping232.png">
                        <h2>Panier <span class="pull-right">5</span></h2>
                    </div>
                </div>
                <div class="col-lg-12 no-padding" >
                    <div id="contact"  class="content">
                        <img class="center-block" src="assets/img/phone21.png">
                        <h2>Contact</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-6">
                <div id="facture" class="content">
                    <div class="col-lg-4">
                        <img class="" src="assets/img/facture.png">
                    </div>
                    <div class="col-lg-8">
                        <h2>Factures</h2>
                        <p>Payées <span class="pull-right">5</span></p>
                        <p>Dues <span class="pull-right">2</span></p>
                    </div>
                </div>
            </div> 
            <div class="col-lg-6">
                <div id="commande" class="content">
                    <div class="col-lg-4">
                        <img class="" src="assets/img/commande.png">
                    </div>
                    <div class="col-lg-8">
                        <h2>Commandes</h2>
                        <p>En cours <span class="pull-right">5</span></p>
                        <p>Validees <span class="pull-right">2</span></p>
                    </div>
                </div>

            </div>  
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}