
{% block header %}
    <!DOCTYPE html>

    <html lang="fr">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="New project">

            <title>Algobreizh {{ PAGE.getTitle() }}</title>
            
            <link rel="stylesheet" href="assets/fonts/font.css">
            <link rel="stylesheet" href="assets/libs/Bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/libs/Bootstrap/css/morris.css">
            <link rel="stylesheet" href="assets/libs/Bootstrap/css/font-awesome.css">
            <link rel="stylesheet" href="assets/css/layout.css">
            <link rel="stylesheet" href="assets/css/general.css">
            <link rel="stylesheet" href="assets/css/button.css">
            <link href="assets/libs/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
            <script src="assets/libs/Jquery/jquery-1.11.3.min.js"></script>
            
            <script type="text/javascript" src="assets/libs/Bootstrap/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="assets/libs/Bootstrap/js/morris.js"></script>
            <script src="assets/libs/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
            <script src="assets/libs/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
            
            <script src="assets/js/general.js"></script>
            <script src="assets/js/function.js"></script>
        </head>
        <body >
            <header >
                <div class="container">
                    <!-- Static navbar -->
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <h1 class="green" >Algobreizh</h1>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="informations" class="green customer" > {{ USER_NAME }}</a></li>
                                    <li><a class="logOut" href="connexion.php?action=logOut"><img src="assets/img/turn-off1-white.png"></a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div><!--/.container-fluid -->
                    </nav>
                </div>
            </header>

            {%block content %}

            {% endblock %}

            {% block footer %}

                
                
                
            </body>
        </html>
    {% endblock %}
{% endblock %}